@import 'colors';

/* Estilos Generales */
.card {
  flex: 1 1 220px;
  flex: 0 1 220px;
}

.benefit, .product {
  grid-template-rows: auto 1fr;
}

.cont {
  &-benefits, &-category {
    flex-wrap: wrap;
    justify-content: center;
  }
}

/* Estilos Beneficios */
.benefit {
  place-items: flex-start center;
  .icon {
    font-size: 70px;
  }
}

/* Estilos Categorias */
.category {
  position: relative;
  img {
    position: relative;
    width: min(220px, 100%);
  }
  .info {
    position: absolute;
    background: rgba($accent, .7);
  }
  &:hover .info {
    height: 100%;
  }
}

/* Estilos Productos */
.product {
  position: relative;
  border: 1px solid rgba($quaternary, .2);
  .image {
    position: relative;
    height: 220px;
    img {
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }
  .info {
    #price, .btn {
      align-self: flex-end;
    }
  }
}

@media (min-width: 900px) {
  .cont-products {
    grid-template-columns: repeat(2, minmax(250px, 1fr));
  }
  .product {
    grid-template-columns: 35% 1fr;
    grid-template-rows: auto;
    .image {
      height: 100%;
    }
  }
}