$primary: #A62639;    /* Rojo oscuro */
$secondary: #DB324D;  /* Rojo más vivo */
$tertiary: #56494E;   /* Gris oscuro */
$quaternary: #A29C9B; /* Gris claro */
$accent: #511C29;     /* Rojo muy oscuro */
$base: #C6C6C6;       /* Base color */