.product {
  &Header {
    position: sticky;
    top: 75px;
    z-index: 10;
    .btn {
      align-self: center;
    }
  }
  &Details {
    .info {
      height: fit-content;
    }
    .image {
      width: min(450px, 100%);
      height: 450px;
      margin: 0 auto;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  &Availability {
    .react-datepicker__day--highlighted-range {
      border-radius: 50%;
      background-color: $tertiary; /* Color naranja */
      color: #ffffff; /* Color blanco */
    }
    .dato {
      &::before {
        content: '#';
        width: 30px;
        height: 30px;
        display: grid;
        place-items: center;
        border-radius: 50%;
        font-weight: 600;
      }
      &-disponible {
        @extend .dato;
        &::before {
          box-shadow: 1px 1px 5px 0px rgba($tertiary, .5);
          background: #fff;
          color: $tertiary;
        }
        }
        &-ocupado {
          @extend .dato;
          &::before {
          background: $tertiary;
          color: #fff;
        }
      }
    }
  }
  &Gallery {
    picture {
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
      }
      &:hover {
        img {
          transform: scale(1.2);
        }
      }
    }
    .btnmore {
      margin: 0 0 0 auto;
      i {
        font-size: 12px;
        margin: 0 0 -5px 2px;
      }
    }
  }
}

@media (min-width: 768px) {
  .productHeader {
    top: 121px;
  }
}
@media (min-width: 1280px) {
  .productHeader {
    top: 106px;
  }
}