.p-search {
  padding: 15px;
}

.search {
  &Category {
    .listcategory {
      margin: 5px 0 0;
    }
    .truncate {
      max-width: 160px; /* Ajusta este valor según sea necesario */
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  &Date {
    padding: 10px 0;
    border-top: 1px solid $base;
    border-bottom: 1px solid $base;
    .calendar {
      position: relative;
      margin: 5px auto 0;
    }
  }
}

.calendar {
  .react-datepicker__children-container {
    width: fit-content !important;
    margin: 0 !important;
  }
  
  .react-datepicker__day--selected, .react-datepicker__day--in-range, .react-datepicker__day--keyboard-selected {
    background-color: #A62639;
    border-radius: 50% !important;
    color: #fff;
  }
  
  .react-datepicker__day--in-range:not(.react-datepicker__day--selected), .react-datepicker__day--in-selecting-range:not(.react-datepicker__day--selected) {
    background-color: #F4A3A8;
    color: #511C29;
    border-radius: 50%;
  }
  
  .react-datepicker__day--range-start, .react-datepicker__day--range-end {
    background-color: #A62639 !important;
    color: #fff !important;
  }
}

@media (min-width: 767px) {
  .p-search {
    padding: 10px 5px 10px 25px;
  }
  .search {
    border: 1px solid $base;
    border-radius: 30px;
    &Text, &Category {
      width: 160px;
    }
    &Category {
      .listcategory {
        position: absolute;
        margin: 20px 0 0;
        z-index: 20;
      }
    }
    &Date {
      border-left: 1px solid $base;
      border-right: 1px solid $base;
      border-top: 0;
      border-bottom: 0;
      padding: 0 5px;
      .calendar {
        position: absolute;
        margin: 20px 0 0;
      }
    }
  }
}