@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'colors';
@import 'cards';
@import 'modal';
@import 'products';
@import 'admin';

/* Reseteo personalizado */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  object-fit: cover;
}

a {
  text-decoration: none;
  line-height: 1;
}

/* Clases personalizadas */
.g {
  &-5 {
    gap: 5px;
  }
  &-10 {
    gap: 10px;
  }
  &-15 {
    gap: 15px;
  }
}

.p {
  &-15 {
    padding: 15px;
  }
  &-section {
    padding: 15px;
  }
}

.txt {
  &-accent {
    color: $accent;
  }
  &-primary {
    color: $primary;
  }
  &-tertiary {
    color: $tertiary;
  }
  &-quaternary {
    color: $quaternary;
  }
}
.b {
  &b-primary {
    width: fit-content;
    border-bottom: 4px solid $primary;
    border-radius: 2px;
  }
  &g {
    &-accent {
      background: $accent;
    }
    &-back {
      background: $back;
    }
    &-base {
      background: $base;
    }
    &-tertiary {
      background: $tertiary;
    }
    &-primary {
      background: $primary;
    }
    &-quaternary {
      background: $quaternary;
    }
  }
  &r-15 {
    border-radius: 15px;
    overflow: hidden;
  }
}

/* Textos */
.bigtitle {
  font-size: 28px;
}
.title {
  font-size: 24px;
}
.subtitle {
  font-size: 20px;
}
.paragraph {
  font-size: 16px;
}
.legal {
  font-size: 14px;
}

body {
  background: $back;
}

header {
  position: sticky;
  top: 0;
  z-index: 80;
  .logo {
    .mobile {
      display: block;
    }
  }
  nav {
    align-items: center;
    
  }
  .active, .navCategorias a:hover {
    color: $primary;
    font-weight: 900;
    border-bottom: 2px solid $primary;
  }
}

footer {
  a {
    font-size: 25px;
  }
}

form label {
  color: $accent;
}

input:-webkit-autofill{
  -webkit-text-fill-color: $tertiary !important;
  background-color: $back !important;
}

@media (min-width: 640px) {
  .p-section {
    padding: 30px;
  }
  header {
    .logo {
      .mobile {
        display: none;
      }
    }
  }
  nav {
    align-items: initial;
  }
}