/* Estilos Card Beneficios */
.benefit {
  flex: 1 1 220px;
  flex: 0 1 220px;
  place-items: flex-start center;
  grid-template-rows: auto 1fr;
  gap: 5px;
}

.benefit .icon {
  font-size: 70px;
  color: var(--color-quaternary);
}

/* Estilos Card Categorias */
.category {
  flex: 1 1 220px;
  flex: 0 1 220px;
  position: relative;
  align-items: flex-end;
}

.category img {
  position: relative;
  width: min(220px, 100%);
}

.category .info {
  position: absolute;
  width: 100%;
  background: rgba(81, 28, 41, .7);
}

.category:hover .info {
  height: 100%;
}

/* Estilos Card Productos */
.product {
  position: relative;
  border: 1px solid rgba(162, 156, 155, .2);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .25);
}
.product .image {
  position: relative;
  height: 220px;
}

.product .image img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.product .info {
  flex-direction: column;
  gap: 10px;
}

.product .info #price, .product .info .btn {
  align-self: flex-end;
}

@media (min-width: 900px) {
  .product {
    grid-template-columns: 35% 1fr;
  }
  .product .image {
    height: 100%;
  }

  .product .info {
    justify-content: center;
  }
}