/* Estilos Card Beneficios */
.benefit {
  flex: 1 1 220px;
  flex: 0 1 220px;
  place-items: flex-start center;
  grid-template-rows: auto 1fr;
  gap: 5px;
}

.benefit .icon {
  font-size: 70px;
  color: var(--color-quaternary);
}

/* Estilos Card Categorias */
.category {
  flex: 1 1 220px;
  flex: 0 1 220px;
  position: relative;
  align-items: flex-end;
  border-radius: 15px;
  overflow: hidden;
}

.category img {
  position: relative;
  width: min(220px, 100%);
}

.category .info {
  position: absolute;
  width: 100%;
  background: rgba(81, 28, 41, .7);
}

.category:hover .info {
  height: 100%;
}